.Imagehead{
    width: 100%;
    height: auto !important;
    text-align: center;
}

.Imagehead h1{

   padding: 5px 10px;
   font-size: 2rem;
   display: inline-block;
   border-bottom: 2px solid rgba(55, 148, 49,0.9);
}